@import '../styles/colors.scss';
.container{
    margin: 0 auto;
    margin-top: 48px;
    max-width: 400px;
    p{
        margin-bottom: 4px;
        font-size: 14px;
        font-weight: 500;
    }
    &__input{
        width: 100%;
        min-height: 40px;
        border: solid 1px #C1C1C1;
        border-radius: 10px;
        position: relative;
        padding: 8px 30px 0 10px;
        .arrow{
            position: absolute;
            right: 12px;
            top: 12px;
            cursor: pointer;
        }
        ul{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            li{
                width: fit-content;
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 4px 12px;
                font-size: 12px;
                font-weight: 500;
                line-height: 12px;
                background-color: $input_background;
                border-radius: 8px;
                margin: 0 4px 8px 0;
                img{
                    padding-left: 8px;
                    cursor: pointer;
                }
            }
        }
        .dropdown{
            position: absolute;
            top: 115%;
            left: 0;
            width: 100%;
            padding: 16px 16px 0;
            box-shadow: 4px 4px 8px 4px rgba(51, 51, 51, 0.2);
            border-radius: 12px;
            input{
                width: 100%;
                padding: 10px 36px;
                outline: none; 
                background-color: $input_background;
                border: none;
                border-radius: 10px;
                font-size: 16px;
                font-weight: 400;
                line-height: 20px;
                color: $input_placeholder;
                background-image: url('../assets/search.svg');
                background-repeat: no-repeat;
                background-position-y: center;
                background-position-x: 12px;
                &::placeholder{
                    color: $input_placeholder;
                }
            }
            ul{
                display: flex;
                flex-direction: column;
                li{
                    width: 100%;
                    background-color: transparent;
                    align-items: center;
                    padding: 14px 0;
                    border-radius: 0;
                    border-bottom: solid 1px $input_background;
                    &:last-child{
                        border-bottom: none;
                    }
                    span{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 16px;
                        line-height: 20px;
                        img{
                            margin-right: 8px;
                        }
                    }
                }
            }
        }
    }
}